.navigation {
  display: none;
}

.navigation__button {
  display: none;
}

@media (max-width: 1020px) {
  .navigation {
    overflow: hidden;
    visibility: hidden;
    width: 122px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transition: width .7s ease-out, visibility .7s ease-out, box-shadow .7s ease-out;
  }

  .navigation__open {
    height: 100%;
    box-shadow: -500px 0 0 0 rgba(0, 0, 0, 0.4);
    visibility: visible;
    width: 520px;
    position: fixed;
  }

  .navigation__button {
    display: block;
    background-image: url(../../images/header_burger.svg);
    width: 44px;
    height: 44px;
    cursor: pointer;
  }

  .navigation__exit {
    background-image: url(../../images/exit.svg);
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 23px 23px 0 auto;
    background-size: contain;
  }

  .navigation__container {
    display: flex;
    flex-direction: column;
    margin: 105px auto 0;
    text-align: center;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-decoration: none;
    transition: opacity .4s linear;
  }

  .navigation__link_active {
    text-decoration: underline;
  }

  .navigation__link:hover {
    opacity: 0.6;
  }

  .navigation__link:not(:first-child) {
    margin: 22px 0 0;
  }

  .navigation__menu {
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation__link-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
    border: 2px solid rgba(170, 170, 170, .2);
    border-radius: 50px;
    text-decoration: none;
    transition: opacity .4s linear;
  }

  .navigation__link-profile:hover {
    opacity: 0.6;
  }
}

@media (max-width: 520px) {
  .navigation__open {
    box-shadow: -200px 0 0 0 rgba(0, 0, 0, 0.4);
    visibility: visible;
    width: 320px;
  }
}